body {
    font-family: Lucida,sans-serif;   
    color: #eee;
    background: #212121 url(/images/boxee_logo.png) no-repeat top right;
}

#content {
    padding: 1em;
    margin: 1em;
    padding-top: 0.5em;
}

a { 
    color: #a5ec02;
}

h1 { 
    color: #a5ec02;
    margin: 0;
    padding: 0;
    text-align: center;
}

#footer {
    border-top: 1px solid #aba29c;
    margin-top: 2em;
    padding-top: 1em;
    font-size: 10px;
    color: #ddd;
}

div#remote {
    margin: auto;
    width: 450px;
    border: 1px solid #444;
}

div.status {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    font-family: monospace;
    background-color: #111;
    color: #bdd24b;
    padding: 5px;
    letter-spacing: 1px;
}

div#boxee_status div {
    margin-bottom: 2px;
}

pre {
    font-family: monospace;
}

